@use '../../../../_styles/utils' as *;

.wrapper {
	background: #fff;
	padding: rem(6);
	border-radius: 40px;
	box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.04);
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: rem(515);
	padding: rem(48);
	background: linear-gradient(to bottom, rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%);
	border: 2px solid #fff;
	border-radius: 34px;
}

.logoWrapper {
	width: 52px;
	height: 52px;
	background: linear-gradient(to bottom, rgba(237, 237, 237, 0.7) 0%, rgba(237, 237, 237, 0) 70%);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 9px 8.5px;
	box-shadow:
		0 0 0 2px #ffffff,
		0 12px 8px rgba(0, 0, 0, 0.03);
}

.title {
	margin-top: rem(32);
	font-weight: 600;
	font-size: rem(40);
	line-height: rem(42);
	letter-spacing: -1.5%;
}

.subtitle {
	margin-top: rem(12);
	font-weight: 500;
	font-size: rem(18);
	line-height: rem(24);
	color: transparent;
	letter-spacing: 0;
  // точное воспроизведение стиля текста который был в макете занимает слишком много времени в бесплатной версии фигмы, поэтому сделал такой
  background-image: linear-gradient(to bottom,  #000 0%, #e0e0e0 100%);
  background-clip: text;
  opacity: 0.7;
}

.divider {
	display: flex;
	margin-top: 1rem;
	font-weight: 500;
	font-size: 1rem;
	line-height: rem(22);
	color: #9c9c9c;
	width: 100%;
	align-items: center;
	gap: rem(10);
	color: transparent;
	background-image: linear-gradient(to bottom,  #000 0%, #e0e0e0 100%);
  background-clip: text;
  opacity: 0.7;

	&::before, &::after {
		content: '';
		display: block;
		flex-grow: 1;
		height: 1px;
		background-color: #ededed;
	}
}

.footer {
	margin-top: 2rem;
	font-weight: 400;
	font-size: rem(18);
	line-height: rem(26);
	color: #6c6c6c;
}