@use '../../../_styles/utils' as *;

.table {
	width: 100%;
}

.header {
	color: #b2b3b9;
	font-size: 1rem;
	font-weight: 600;
	height: rem(73);

	.row {
		border: none;
	}
}

.row {
	position: relative;
	height: rem(71);
	border-bottom: 1px solid #e2e2e2;
	border-top: 1px solid #e2e2e2;

	&[data-selected='true'] > td:first-of-type::before {
		content: '';
		display: inline;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 3px;
		background-color: #3c538e;
	}
}

.cell {
	padding: rem(11.5) rem(18);
	text-align: center;
}

.head {
	padding: rem(11.5) rem(18);
	height: 100%;
	text-align: center;
}
